@using System.Text;
@using Newtonsoft.Json;
@using LotterySharperBlazorServer.Shared.Models;
@using LotterySharperBlazorServer.Shared;
@using LotterySharperBlazorServer.Pages;

@inherits LayoutComponentBase

<div>
    <TopNavBar OnClickSetName="@SetNameHandler"
               OnClick649="@Full649LotteryClickHandler"
               OnClick649Singles="@LotterySinglesClickHandler"
               OnClick649Pairs="@LotteryPairsClickHandler"
               OnClick649Triplets="@LotteryTripletsClickHandler"
               OnClick649Bonus="@LotteryBonusClickHandler"
               OnClickMax="@FullMaxLotteryClickHandler"
               OnClickMaxSingles="@LotterySinglesClickHandler"
               OnClickMaxPairs="@LotteryPairsClickHandler"
               OnClickMaxTriplets="@LotteryTripletsClickHandler"
               OnClickMaxBonus="@LotteryBonusClickHandler"
               OnClickPowerBall="@FullPowerBallLotteryClickHandler"
               OnClickPowerBallSingles="@LotterySinglesClickHandler"
               OnClickPowerBallPairs="@LotteryPairsClickHandler"
               OnClickPowerBallTriplets="@LotteryTripletsClickHandler"
               OnClickPowerBallBonus="@LotteryBonusClickHandler">
    </TopNavBar>
</div>

<div>
    <Lotto649Table _lotto="_lotto649" />
</div>
<div>
    <LottoMaxTable _lotto="_lottoMax" />
</div>
<div>
    <PowerBallTable _lotto="_powerBall" />
</div>
<div>
    <SinglesTable _lottoSingles="_lottoSingles"
                  _lotteryName="@_lotteryName" />
</div>
<div>
    <PairsTable _lottoPairs="_lottoPairs"
                _lotteryName="@_lotteryName" />
</div>
<div>
    <TripletsTable _lottoTriplets="_lottoTriplets"
                   _lotteryName="@_lotteryName" />
</div>
<div>
    <BonusTable _lottoBonus="_lottoBonus"
                _lotteryName="@_lotteryName" />
</div>

@code {

    [Parameter]
    public string _lotteryName { get; set; }
}
